<div class="container">
  <div class="headline">
    <h1>Code club</h1>
  </div>
  <div class="links">
    <ul>
      <li><%= link_to "Sign in", "/auth/github" %></li>
      <li>Snippets</li>
    </ul>
  </div>
</div>
